@import 'base/vars.scss';
@import 'base/general.scss';

#app {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $dark;
    background: $gray;
    min-height: 100vh;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: $dark;
    box-shadow: 0px 8px 20px rgba(1, 17, 22, 0.21);

    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .6;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.main {
    position: relative;
    width: 100%;
    
    &-container {
        padding-top: 144px;
        padding-bottom: 100px;
        display: flex;
        justify-content: space-between;
    }

    .loading {
        width: 100%;
        height: 100%;
        background: $gray;
        position: absolute;

        &-item {
            margin-top: 24px;

            &:first-child {
                margin-top: 0;
            }
        }

        &-row {
            width: 100%;

            &-sm {
                background: $gray_dark;
                width: 150px;
                height: 20px;
                border-radius: 4px;
                position: relative;
                animation: loading 1s infinite $ease;
                
            }

            &-lg {
                margin-top: 16px;
                width: 100%;
                height: 36px;
                background: $gray_dark;
                border-radius: 4px;
                animation: loading 1s infinite $ease;
            }
        }
    }
}

.post {
    width: 100%;
    display: block;
    color: $dark;
    margin-top: 24px;
    cursor: pointer;

    &:first-child {
        margin-top: 0;
    }

    &:hover {
        color: $dark;

        .post-title {
            opacity: .8;
            text-decoration: underline;
        }
    }

    &-source {
        display: flex;
        align-items: center;

        &-icon {
            border-radius: 4px;
            width: 18px;
            height: 18px;
            margin-right: 8px;
        }

        &-link {
            font-size: 14px;
        }
    }

    &-title {
        transition: $transition;
        font-family: 'Lora', sans-serif;
        font-size: 24px;
        margin-top: 8px;
    }
}

.sidebar {
    margin-left: 30px;
    width: 262px;
    padding: 16px;
    background: $gray_dark;
    border-radius: 4px;
    position: sticky;
    top: 144px;
    flex-shrink: 0;
    height: max-content;
    color: $dark;

    &-title {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    &-section {
        margin-top: 24px;
        position: relative;
        padding-top: 16px;

        &:first-child {
            margin-top: 0;
            padding-top: 0;

            &:before {
                content: none;
            }
        }

        &:before {
            content: '';
            width: 100%;
            height: 1px;
            display: block;
            background: $dark;
            opacity: .15;
            border-radius: 4px;
            position: absolute;
            top: 0;

        }
    }
}

.exchange-rates {
    &-item {
        display: flex;
        align-items: center;
        margin-top: 16px;
    }

    &-icon {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }

    &-name {
        font-size: 14px;
        margin-left: 8px;
    }

    &-value {
        font-size: 14px;
        margin-left: auto;
        font-weight: 600;
    }

}

.filter {
    &-item {
        display: flex;
        align-items: center;
        margin-top: 16px;

        &:first-child {
            margin-top: 0;
        }

        &-icon {
            width: 18px;
            height: 18px;
            border-radius: 4px;
            object-fit: contain;
        }

        &-title {
            font-size: 12px;
            margin-left: 8px;
        }

        .switcher {
            margin-left: auto;
            width: 44px;
            height: 20px;
            border-radius: 24px;
            background: rgba(1, 17, 22, 0.15);
            transition: $transition;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;

            &.active {
                background: rgba(1, 17, 22, 1);

                &:before {
                    transform: translateX(24px);
                }
            }

            &:before {
                content: '';
                background: $gray;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                position: relative;
                left: 2px;
                transition: $transition;
            }
        }
    }
}