@import "bootstrap/scss/bootstrap-reboot.scss";
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;600&display=swap');

::placeholder {
    color: #666;
}

::selection {
    background-color: $dark;
    color: $gray;
}

* {
    -webkit-font-smoothing: antialiased; // сглаживание шрифтов
}

input,
textarea {
    outline: none;
    box-shadow: none;

    &:focus:required:invalid {
        border-color: red;
    }

    &:required:valid {
        border-color: green;
    }
}


a,
label {
    -webkit-tap-highlight-color: transparent;
}


a {

    &:hover,
    &:active {
        text-decoration: none;
    }

}


button {

    &:active,
    &:focus {
        padding: 0;
        outline: 0;
    }
}

.container {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}